<table class="table">
  <thead>
    <tr>
      <th></th>
      <th class="hidden-sm-up">Usuario</th>
      <th class="hidden-xs">Nombre</th>
      <th class="hidden-xs">Apellido</th>
      <th class="hidden-xs">email</th>
      <th>
        <button [routerLink]="['/useredit', '']" class="btn btn-success parents pull-right" alt="Nuevo" title="Nuevo">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span  class="hidden-xs">Nuevo</span>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | async; index as i">
      <td>
        <span>
          <img width="40" class="img-circle" alt="User Avatar" src="/assets/img/man.png">
        </span>
      </td>
      <td class="hidden-sm-up">{{user.surname}}, {{user.name}}</td>
      <td class="hidden-xs">{{user.name}}</td>
      <td class="hidden-xs">{{user.surname}}</td>
      <td class="hidden-xs">{{user.email}}</td>
      <td>
        <div class="btn-toolbar pull-right">
          <button [routerLink]="['/order', user.key]" class="btn btn-info parents" alt="Editar" title="Editar">
            <span class="fa fa-exchange" aria-hidden="true"></span> <span class="hidden-xs">Transacciones</span>
          </button>
          
          <button [routerLink]="['/useredit', user.key]" class="btn btn-info parents" alt="Editar" title="Editar">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <span class="hidden-xs">Editar</span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>