<br>
<div class="btn-toolbar pull-left">
  <button [routerLink]="['/order/', uid, 'new']" class="btn btn-success parents pull-right" alt="Nuevo" title="Nuevo">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span  class="hidden-xs">Nuevo</span>
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs">Creaci&oacute;n</th>
      <th class="hidden-xs">Cantidad</th>
      <th class="hidden-xs">Realizado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders | async; index as i">
      <td class="hidden-xs">{{order.timestamp | date:'short' }}</td>
      <td class="hidden-xs">{{order.value}}</td>
      <td class="hidden-xs" >
        <span *ngIf="order.transaction">Pendiente</span>
        <span *ngIf="!order.transaction">Realizado</span>
      </td>
    </tr>
  </tbody>
</table>