<br>
<div class="btn-toolbar pull-left">
  <button [routerLink]="['/order/', uid, 'new']" class="btn btn-success parents pull-right" alt="Nuevo" title="Nuevo">
    <!-- th class="hidden-xs">Creaci&oacute;n</th-->
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span  class="hidden-xs">Nuevo</span>
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs">Chofer</th>
      <th class="hidden-xs">Vehiculo</th>
      <th class="hidden-xs">Cantidad</th>
      <th class="hidden-xs">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders | async; index as i">
      <td class="hidden-xs">{{order.timestamp | date:'short' }}</td>
      <td class="hidden-xs">{{order.driver.name}} {{order.driver.surname}} {{order.driver.dni}}</td>
      <td class="hidden-xs">{{order.truck.brand}} {{order.truck.model}} {{order.truck.plate}}</td>
      <td class="hidden-xs">{{order.value}}</td>
      <td class="hidden-xs" >
        <span *ngIf="!order.transaction">Pendiente</span>
        <span *ngIf="order.transaction">Realizado</span>
      </td>
      <td class="hidden-xs">
        <button (click)="view(order.key)" id="printbutton" name="printbutton" class="btn" [ngClass]="{'btn-primary': false, 'btn-success': true }">
          <span class="gliphicon-view"></span>
          Ver
        </button>
      </td>
    </tr>
  </tbody>
</table>