<div class="container">
  <form class="form-horizontal">
    <fieldset>
      <legend *ngIf="!uid">Nuevo chofer</legend>

      <div class="form-group">
        <label class="col-md-4 control-label" for="nameInput">Nombre</label>
        <div class="col-md-4">
          <input [ngModel]="driver?.name" (ngModelChange)="driver.name = $event;" id="nameInput" name="nameInput" type="text" placeholder="Nombre" class="form-control input-md">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="surnameInput">Apellido</label>
        <div class="col-md-4">
          <input [ngModel]="driver?.surname" (ngModelChange)="driver.surname = $event;" id="surnameInput" name="surnameInput" type="text" placeholder="Apellido" class="form-control input-md">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="dniInput">DNI</label>
        <div class="col-md-4">
          <input [ngModel]="driver?.dni" (ngModelChange)="driver.dni = $event;" id="dniInput" name="dniInput" type="text" placeholder="DNI" class="form-control input-md">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <button (click)="save()" id="singlebutton" name="singlebutton" class="btn" [ngClass]="{'btn-primary': true, 'btn-success': false }">
            <span class="gliphicon-save"></span>
              Guardar
          </button>
        </div>
      </div>

    </fieldset>
  </form>

</div>