<table class="table">
  <thead>
    <tr>
      <th>Origen</th>
      <th>Fecha y hora</th>
      <th>Monto</th>
      <th class="hidden-xs">Validado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of userTransactions | async; index as i">
      <td><!--{{transaction}}--></td>
      <td>{{transaction.localtime | date:'short'}}</td>
      <td>{{transaction.value}}</td>
      <td class="hidden-xs">{{transaction.timestamp | date:'short'}}</td>
    </tr>
  </tbody>
</table>

<div class="btn-toolbar pull-right">
  <button [routerLink]="['/addcredit', userId]" class="btn btn-success parents pull-right" alt="Cargar" title="Cargar">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Cargar
  </button>
</div>
